<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicron.study.wmsapi.dao.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.nicron.study.wmsapi.entity.Supplier">
    <constructor>
      <idArg column="supplier_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="adress" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="manager_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    supplier_id, name, tel, adress, email, manager_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supplier
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nicron.study.wmsapi.entity.Supplier">
    insert into supplier (supplier_id, name, tel, 
      adress, email, manager_id
      )
    values (#{supplierId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{adress,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nicron.study.wmsapi.entity.Supplier">
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="adress != null">
        adress,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="adress != null">
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nicron.study.wmsapi.entity.Supplier">
    update supplier
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="adress != null">
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nicron.study.wmsapi.entity.Supplier">
    update supplier
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=INTEGER}
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
</mapper>